<div class="jumbotron">
    <h1>Localização API</h1>
    <p class="lead">This is a demo page, just for internal tests.</p>
    <p>
        <div class="col-sm-4">
            <a class="btn btn-block btn-social btn-twitter" href="https://twitter.com/GLMSharp" target="_blank">
                <span class="fa fa-twitter"></span>@@GlmSharp
            </a>
            <a class="btn btn-block btn-social btn-github" href="https://github.com/GuilhermeMorais" target="_blank">
                <span class="fa fa-github"></span>GuilhermeMorais
            </a>
        </div>
        &nbsp;
    </p>
</div>
<div class="container">
    @*<p>Actual Inspections from demo user:</p>*@
</div>
